*{
    margin: o;
    box-sizing: border-box;
    padding: 0;
}
#Faster{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    align-items: center;
}
#Logo{
    margin-left: 5vh;

}
#Button{
    padding: 7px;
    background-color: orangered;
    border: none;
    margin-right: 5vw;
    color: white;
    cursor: pointer;
    width: 10vw;

}

#Menu{
    display: flex;
    width: 40vw;
    justify-content: space-around;
}